export( irf.lsd, state.irf.lsd, state.ident.lsd, state.sa.lsd )
S3method( print, irf.lsd )
S3method( plot, irf.lsd )
S3method( print, state.irf.lsd )
S3method( plot, state.irf.lsd )
S3method( print, state.ident.lsd )
S3method( print, state.sa.lsd )
S3method( plot, state.sa.lsd )
