Work/
trashbin/
lwi/nbproject/
SyncToy*
*.err
*.o
*.bak
*.res
*res.gz
*.tot
*.tot.gz
*.csv
*.pdf
*.pyc
makefile
makemessage.txt
system_options.txt
lmm_options.txt
temp.html
*.Rproj.user
*.Rdata
.Rproj.user
*.Rproj
elements.txt
makefileNW
*.gch
lsd.exe
lsdNW.exe
