Work/
trashbin/
Manual/src/
lwi/nbproject/
SyncToy*
*.err
*.o
*.res
*res.gz
*.tot
*.tot.gz
*.csv
*.pdf
makefile
makemessage.txt
system_options.txt
lmm_options.txt
temp.html
n++.wsp
*.Rproj.user
*.Rdata
.Rproj.user
*.Rproj
elements.txt
makefileNW
*.gch
lsd.*
lsdNW*
