#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Type=Application
Categories=Development;Simulation;IDE;
Terminal=false
Name=LSD
Comment=Lsd Model Manager
Exec=$LSDROOT/LMM
Icon=$LSDROOT/src/icons/lmm.png
