export( read.doe.lsd, elementary.effects.lsd, sobol.decomposition.lsd, kriging.model.lsd, polynomial.model.lsd, response.surface.lsd, model.optim.lsd, model.limits.lsd, model.pred.lsd, ergod.test.lsd )
#importFrom( DiceKriging, km, leaveOneOut.km, predict, predict.km )
#importFrom( stats, as.formula, lm, predict, pf, pt, pnorm, sd, ks.test, PP.test, na.exclude )
#importFrom( tseries, adf.test, bds.test, kpss.test )
#importFrom( car, vif )
#importFrom( sensitivity, fast99, sobolGP )
#importFrom( parallel, makeForkCluster, detectCores, setDefaultCluster, stopCluster )
#importFrom( rgenoud, genoud )
#importFrom( utils, read.csv, read.table, write.csv )
#importFrom( LSDinterface, name.nice.lsd, name.var.lsd, info.dimensions.lsd, read.raw.lsd, read.4d.lsd )
#importFrom( abind, abind )
#importFrom( randtoolbox, sobol )
