exportPattern( "^[[:alpha:]]+" )
#importFrom( stats, sd )
#importFrom( utils, read.delim )
#importFrom( abind, abind )
#importFrom( parallel, detectCores, makeCluster, clusterExport, clusterEvalQ, parLapply, stopCluster )
