/*************************************************************

	LSD 8.0 - May 2021
	written by Marco Valente, Universita' dell'Aquila
	and by Marcelo Pereira, University of Campinas

	Copyright Marco Valente and Marcelo Pereira
	LSD is distributed under the GNU General Public License

	See Readme.txt for copyright information of
	third parties' code used in LSD

 *************************************************************/

/**************************************************************
 LMM_MANIFEST.RC
 Windows resource file for LMM
**************************************************************/

#include <winuser.h>

CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "LMM.exe.manifest"

101 ICON "icons/lmm.ico"

1 VERSIONINFO
FILEVERSION     8,0,0,0
PRODUCTVERSION  8,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "Marco Valente & Marcelo C. Pereira"
      VALUE "FileDescription", "LSD Model Manager (LMM)"
      VALUE "FileVersion", "8.0"
      VALUE "InternalName", "LMM"
      VALUE "LegalCopyright", "Copyright Marco Valente and Marcelo C. Pereira"
      VALUE "OriginalFilename", "lmm.exe"
      VALUE "ProductName", "LSD"
      VALUE "ProductVersion", "8.0"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x409, 1200
  END
END