<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleDocumentTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeExtensions</key>
                <array>
                    <string>tcl</string>
                    <string>TCL</string>
                    <string>*</string>
                </array>
                <key>CFBundleTypeMIMETypes</key>
                <array>
                    <string>application/x-tcl</string>
                    <string>text/plain</string>
                </array>
                <key>CFBundleTypeName</key>
                <string>NSStringPboardType</string>
                <key>CFBundleTypeOSTypes</key>
                <array>
                    <string>TEXT</string>
                    <string>****</string>
                </array>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
            </dict>
        </array>
        <key>CFBundleURLTypes</key>
        <array>
            <dict>
                <key>CFBundleTypeRole</key>
                <string>Viewer</string>
                <key>CFBundleURLSchemes</key>
                <array>
                    <string>foo</string>
                </array>
                <key>CFBundleURLName</key>
                <string>Get Foo</string>
            </dict>
        </array>
        <key>CFBundleExecutable</key>
        <string>Wish</string>
        <key>CFBundleGetInfoString</key>
        <string>LSD Installer 9.0,
	Copyright © Marco Valente,
	Copyright © Marcelo C. Pereira,
    Copyright © 1989-2026 Tcl Core Team,
    Copyright © 1989-2026 Contributors,
    Copyright © 2011-2026 Kevin Walzer/WordTech Communications LLC,
    Copyright © 2014-2026 Marc Culler,
    Copyright © 2002-2026 Daniel A. Steffen,
    Copyright © 2001-2009 Apple Inc.,
    Copyright © 2001-2002 Jim Ingham &amp; Ian Reid</string>
        <key>CFBundleIconFile</key>
        <string>lsd.icns</string>
        <key>CFBundleIdentifier</key>
        <string>com.marcov64.lsdi</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleLocalizations</key>
        <array>
            <string>cs</string>
            <string>da</string>
            <string>de</string>
            <string>el</string>
            <string>en</string>
            <string>en_gb</string>
            <string>eo</string>
            <string>es</string>
            <string>fr</string>
            <string>hu</string>
            <string>it</string>
            <string>nl</string>
            <string>pl</string>
            <string>pt</string>
            <string>ru</string>
            <string>sv</string>
        </array>
        <key>CFBundleName</key>
        <string>LSD Installer</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>9.0</string>
        <key>CFBundleSignature</key>
        <string>LSDi</string>
        <key>CFBundleVersion</key>
        <string>9.0</string>
        <key>LSMinimumSystemVersion</key>
        <string>11.0.0</string>
        <key>LSRequiresCarbon</key>
        <true/>
        <key>NSAppleScriptEnabled</key>
        <true/>
        <key>NSAppleEventsUsageDescription</key>
        <string>This script needs to control other applications to run.</string>
        <key>NSHighResolutionCapable</key>
        <true/>
    </dict>
</plist>
